$fontColor: #fff;
$borderColor: #fff;

.topContainer {
  width: 100%;
  height: 560px;
  background-color: #000;
  padding-block: 48px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

.topMenuContainer {
  white-space: nowrap;
  overflow-x: auto;
}

.topMenuContainer::-webkit-scrollbar {
  display: none;
}

.topMenu {
  list-style: none;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.topMenu__Item {
  display: inline-block;
  padding: 16px;
  color: $fontColor;
  margin-inline: 8px;
}

.topMenu__Item:hover {
  cursor: pointer;
  color: #000;
  background-color: #fff;
  border-radius: 50px;
}

.mainTitle,
.mainDescription {
  text-align: center;
  color: $fontColor;
}

.mainDescription {
  line-height: 24px;
  max-width: 550px;
  margin: 16px auto;
}

.mainTitle {
  margin-block: 32px 16px;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
}

.topMenuSearch {
  max-width: 90%;
  margin: 48px auto;
  padding: 16px;
  border-radius: 50px;
}

.trendSearch {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.treandSearch__item,
.treandSearch__title {
  margin: 8px;
  color: $fontColor;
}

.treandSearch__item {
  border: 1px solid $borderColor;
  border-radius: 50px;
  padding: 8px;
}
