.empty,
.top-nav {
  width: 100%;
  height: 80px;
  margin: 0;
}

.empty {
  background-color: transparent;
}

.top-nav {
  padding: 0 24px;
  position: fixed;
  z-index: 999;
  background-color: $white;
}

.flex-space-between {
  @include flex(center, space-between);
}

.nav-toggle {
  width: 2rem;
  aspect-ratio: 1;
}

.logo {
  width: 76px;
  height: 30px;
  & path {
    color: $black;
  }
}

.nav-items {
  @include flex(center, space-evenly, row, 10px);
}

.search-input {
  border: none;
  background-color: transparent;
  width: calc(100% - 25px);
}

.search-input:focus-visible {
  outline: none;
}

.search-container {
  padding: 8px;
  border-radius: 5px;
  background-color: $LightGray;
}

.search-container:focus-within {
  border: 1px Solid $pink;
  box-shadow: 0px 0px 2px 3px hsl(337, 79%, 95%);
  background-color: transparent;
}

.nav-list-mobile {
  @include flex(flex-start, flex-start, column, 24px);
}

.nav-container-mobile {
  width: 100%;
  min-height: calc(100vh - 80px);
  background-color: $white;
  border-top: 1px Solid $LightGray;
  padding: 24px;
}

.nav-list-inner {
  padding: 24px 40px;
  border-left: 1px solid $LightGray;
}



.sub-menu-desktop {
  position: absolute;
  top: 70px;
  @include flex(center, center);
  border-radius: 8px;
  overflow: hidden;
  background-color: $white;
  box-shadow: 0px -16px 32px -8px rgba($black, 0.1);
  display: none;
}

.only-desktop .list-item:hover .sub-menu-desktop {
  display: flex;
}

.sub-menu-desktop .sub-menu-section-desktop {
  width: 400px;
  background-color: $white;
  padding-block: 8px;
  @include flex(flex-start, center, column, 0);
}

.sub-menu-section-desktop li {
  width: 100%;
}

.sub-menu-desktop .sub-menu-side-desktop {
  width: 200px;
  background-color: $LightGray;
  padding: 32px;
  @include flex(flex-start, center, column, 16px);
}

.sub-menu-items {
  @include flex(center, flex-start, row, 16px);
  padding: 16px;
  margin-inline: 22px;
}

.sub-menu-icon {
  width: 32px;
  aspect-ratio: 1;
  border-radius: 3px;
  @include flex(center, center);
}

@for $i from 0 to length($subNavColors) {
  .sub-menu-icon-#{nth($subNavColorNames,$i+1)} {
    background: rgba(nth($subNavColors, $i + 1), 0.1);
  }
}

@for $i from 0 to length($subNavColors) {
  .sub-menu-items:hover .sub-menu-icon-#{nth($subNavColorNames,$i+1)} {
    background: rgba(nth($subNavColors, $i + 1), 0.2);
  }
}

.sub-menu-items p {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.sub-menu-items h3,
.sub-menu-side-desktop h3 {
  font-size: 0.9rem;
  font-weight: normal;
  color: $black;
}
