* {
  box-sizing: border-box;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #727264;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
}

.mainNav {
  width: 100%;
  height: 68px;
  background-color: #fff;
}

.mobileNav,
.desktopNav {
  width: 100%;
  padding-inline: 32px;
  padding-block: 16px;
  height: 100%;
}

.desktopNav {
  display: none;
}

.mobileNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f2f2f2;
}

.mobileNav__items {
  display: inline-block;
  cursor: pointer;
}

.subMobileNav {
  width: 100%;
  padding-inline: 32px;
  padding-block: 16px;
  position: relative;
  top: 0px;
  height: calc(100vh - 68px);
  display: none;
  background-color: #fff;
}

.subMobileNav__Section,
.search,
.subMobileNav__subSection {
  padding: 5px;
  margin-block: 5px;
}

.subMobileNav__Section h3 {
  cursor: pointer;
}

.subMobileNav__Section h3::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  right: 32px;
  background: url(../images/arrow.svg);
}

.search {
  border: 1px solid #727264;
  border-radius: 8px;
  background-color: #f2f2f2;
}

.searchInput {
  border: none;
  outline: none;
  width: 90%;
  background-color: transparent;
}

.navList {
  padding-inline: 16px;
  list-style: none;
  border-left: 1px solid #f2f2f2;
  display: none;
}

.navList li {
  margin-block: 8px;
}

.showList {
  display: block;
}

@media screen and (min-width: 980px) {
  .mobileNav {
    display: none;
  }
  .desktopNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .rightSection,
.leftSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .navLink {
    margin-inline: 8px;
    font-weight: bold;
  }
  .logo {
    margin-right: 8px;
  }
  .signIn {
    font-weight: normal;
  }
  .signUp {
    border-radius: 10px;
    background-color: #EA4C89;
    color: #fff;
    padding: 12px 16px;
  }
}
.topContainer {
  width: 100%;
  height: 560px;
  background-color: #000;
  padding-block: 48px;
}

.topMenuContainer {
  white-space: nowrap;
  overflow-x: auto;
}

.topMenuContainer::-webkit-scrollbar {
  display: none;
}

.topMenu {
  list-style: none;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.topMenu__Item {
  display: inline-block;
  padding: 16px;
  color: #fff;
  margin-inline: 8px;
}

.topMenu__Item:hover {
  cursor: pointer;
  color: #000;
  background-color: #fff;
  border-radius: 50px;
}

.mainTitle,
.mainDescription {
  text-align: center;
  color: #fff;
}

.mainDescription {
  line-height: 24px;
  max-width: 550px;
  margin: 16px auto;
}

.mainTitle {
  margin-block: 32px 16px;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
}

.topMenuSearch {
  max-width: 90%;
  margin: 48px auto;
  padding: 16px;
  border-radius: 50px;
}

.trendSearch {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.treandSearch__item,
.treandSearch__title {
  margin: 8px;
  color: #fff;
}

.treandSearch__item {
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 8px;
}

/*# sourceMappingURL=index.css.map */
