root {
  --arrow-image-up: url("../images/arrow-down.svg");
}

* {
  box-sizing: border-box;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: #727264;
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
}

.list-desktop > li {
  padding-block: 30px;
}

.list-item {
  display: inline-block;
}

.list-item:hover {
  color: #000;
}

.list-item-mobile {
  width: 100%;
}

.list-item-mobile h3 {
  line-height: 2rem;
}

.list-item-mobile h3::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  right: 24px;
  background-image: var(--arrow-image-up, url("../images/arrow-down.svg"));
}

.list-item-inner {
  width: 100%;
  cursor: pointer;
}

a,
.list-item {
  cursor: pointer;
}

.link-red {
  padding: 10px;
  background-color: #ea4c89;
  border-radius: 5px;
  color: #fff;
}

.line {
  display: block;
  height: 1px;
  margin-block: 50px;
  background-color: rgba(114, 114, 100, 0.2);
  border-radius: 8px;
}

.empty,
.top-nav {
  width: 100%;
  height: 80px;
  margin: 0;
}

.empty {
  background-color: transparent;
}

.top-nav {
  padding: 0 24px;
  position: fixed;
  z-index: 999;
  background-color: #fff;
}

.flex-space-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-toggle {
  width: 2rem;
  aspect-ratio: 1;
}

.logo {
  width: 76px;
  height: 30px;
}
.logo path {
  color: #000;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.search-input {
  border: none;
  background-color: transparent;
  width: calc(100% - 25px);
}

.search-input:focus-visible {
  outline: none;
}

.search-container {
  padding: 8px;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.search-container:focus-within {
  border: 1px Solid #ea4c89;
  box-shadow: 0px 0px 2px 3px hsl(337deg, 79%, 95%);
  background-color: transparent;
}

.nav-list-mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}

.nav-container-mobile {
  width: 100%;
  min-height: calc(100vh - 80px);
  background-color: #fff;
  border-top: 1px Solid #f2f2f2;
  padding: 24px;
}

.nav-list-inner {
  padding: 24px 40px;
  border-left: 1px solid #f2f2f2;
}

.sub-menu-desktop {
  position: absolute;
  top: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px -16px 32px -8px rgba(0, 0, 0, 0.1);
  display: none;
}

.only-desktop .list-item:hover .sub-menu-desktop {
  display: flex;
}

.sub-menu-desktop .sub-menu-section-desktop {
  width: 400px;
  background-color: #fff;
  padding-block: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.sub-menu-section-desktop li {
  width: 100%;
}

.sub-menu-desktop .sub-menu-side-desktop {
  width: 200px;
  background-color: #f2f2f2;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}

.sub-menu-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  padding: 16px;
  margin-inline: 22px;
}

.sub-menu-icon {
  width: 32px;
  aspect-ratio: 1;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sub-menu-icon-purple {
  background: rgba(114, 78, 145, 0.1);
}

.sub-menu-icon-pink {
  background: rgba(229, 79, 109, 0.1);
}

.sub-menu-icon-lightGreen {
  background: rgba(116, 196, 186, 0.1);
}

.sub-menu-icon-yellow {
  background: rgba(248, 198, 48, 0.1);
}

.sub-menu-items:hover .sub-menu-icon-purple {
  background: rgba(114, 78, 145, 0.2);
}

.sub-menu-items:hover .sub-menu-icon-pink {
  background: rgba(229, 79, 109, 0.2);
}

.sub-menu-items:hover .sub-menu-icon-lightGreen {
  background: rgba(116, 196, 186, 0.2);
}

.sub-menu-items:hover .sub-menu-icon-yellow {
  background: rgba(248, 198, 48, 0.2);
}

.sub-menu-items p {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.sub-menu-items h3,
.sub-menu-side-desktop h3 {
  font-size: 0.9rem;
  font-weight: normal;
  color: #000;
}

.search-section {
  width: 100%;
  height: 650px;
  padding: 50px 20px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.video {
  width: 100%;
  height: 650px;
  object-fit: fill;
  position: absolute;
  z-index: -1;
}

.tag-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}

.top-tags {
  color: #fff;
  font-size: 1.1rem;
  font-weight: normal;
  padding: 14px 16px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 24px;
}
.top-tags:hover {
  color: #000;
  font-size: 1.1rem;
  font-weight: normal;
  background-color: #fff;
  cursor: pointer;
}

.bottom-tags {
  color: #fff;
  font-size: 0.7rem;
  font-weight: normal;
  padding: 8px;
  background-color: transparent;
  border-radius: 16px;
}
.bottom-tags:not(:first-of-type) {
  border: 1px solid #fff;
}
.bottom-tags:not(:first-of-type):hover {
  cursor: pointer;
}

.desc-container {
  max-width: 650px;
}

.desc-title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 16px;
}

.desc {
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
}

.search {
  width: clamp(70vw, 650px, 60vw);
  max-width: 650px;
  padding: 16px;
  border-radius: 24px;
  background-color: #fff;
}

.input-serach {
  border: none;
  background-color: transparent;
  width: calc(100% - 25px);
}
.input-serach:focus {
  outline: 0;
}

@media (min-width: 920px) {
  .search-section, .video {
    height: 560px;
  }
}
.main {
  width: 100%;
  padding: 50px;
}

.art-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  gap: 32px;
}
.art-list li,
.art-list img,
.art-list section {
  width: 100%;
}
.art-list img {
  aspect-ratio: 1;
  border-radius: 16px;
}
.art-list div {
  display: inline;
}
.art-list .art-information {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.img-container {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.img-container:hover {
  cursor: pointer;
}
.img-container:hover .img-desc {
  visibility: visible;
  opacity: 1;
}

.artist {
  display: inline;
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.like-svg,
.view-svg {
  width: 16px;
  color: #f2f2f2;
}

.like-svg:hover {
  cursor: pointer;
}
.like-svg:hover path {
  fill: #ea4c89;
}

.img-desc {
  width: 100%;
  height: 50%;
  padding: 32px 16px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
  position: absolute;
  bottom: 3px;
  left: 0;
  z-index: 10;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  color: #fff;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.loading-container {
  width: 100%;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-outer,
.loading-inner {
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
}

.loading-outer {
  width: 100px;
  z-index: -1;
  border-top: 2px solid #ea4c89;
  animation: loadingOuter 2s linear infinite;
}

.loading-inner {
  width: 90px;
  z-index: -2;
  border-bottom: 2px solid #ea4c89;
  animation: loadingInner 2s linear infinite;
}

.loading-text {
  font-size: 1rem;
  color: #ea4c89;
  font-weight: bold;
}

@keyframes loadingOuter {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loadingInner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.footer {
  width: 100%;
  background-color: rgba(242, 242, 242, 0.5);
  padding: 50px 24px;
}

.footer-links-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.dribbble-info {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}

.footer-logo {
  width: 100px;
}
.footer-logo path {
  color: #ea4c89;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}
.socialMedia svg {
  width: 18px;
  height: 18px;
}
.socialMedia svg path {
  color: #727264;
}
.socialMedia a:hover svg path {
  color: #000;
}

.footer-desc {
  width: 200px;
  display: contents;
  font-size: 0.9rem;
}

.footer-links {
  width: 50%;
  padding: 16px;
}

.footer-links-list {
  list-style: none;
  padding: 0;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}
.footer-links-list li,
.footer-links-list a {
  font-size: 0.9rem;
}
.footer-links-list .footer-links-header,
.footer-links-list li:hover a {
  color: #000;
}

.footer-rights {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.footer-shots {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.footer-shots img {
  margin-inline: 8px;
  width: 24px;
  aspect-ratio: 1;
}

@media (min-width: 768px) {
  .footer-links {
    width: 20%;
  }
}
@media (min-width: 1160px) {
  .dribbble-info,
.footer-links {
    width: 16.6666666667%;
  }
  .footer-rights {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .footer-shots {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}
.hidden {
  display: none;
}

@media (min-width: 920px) {
  .only-mobile {
    display: none;
  }
}
@media (width < 920px) {
  .only-desktop {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
